html {
	height: 100%;
	width: 100%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.component {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	text-align: center;
}